<html>
	<head>
		<title>Blacklist: git gud or git rekt</title>
		
		<!-- JQuery (from CDN) to make things easier on the front end. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<script src="/static/js/image_reader.js"></script> <!-- Image reading -->

		<script src="/static/js/lib/core-min.js"></script> <!-- CryptoJS core -->
		<script src="/static/js/lib/cipher-core-min.js"></script> <!-- CryptoJS core -->
		<script src="/static/js/lib/aes-min.js"></script> <!-- AES encryption -->
		<script src="/static/js/lib/enc-utf16-min.js"></script> <!-- UTF-16 encoding  -->
		<script src="/static/js/lib/enc-base64-min.js"></script> <!-- Base64 encoding -->
		<script src="/static/js/lib/pbkdf2-min.js"></script>
		<script src="/static/js/lib/sha256-min.js"></script>

		<script src="/static/js/crypto_util.js"></script> <!-- Simpler crypto api -->

		<script>
			// DOM element that will be used to displaly the chosen image.
			var currentImageData = null;
			
			// onchange() callback for the image form item; reads the image data
			function saveImageData(){
				var imageFile = $('#image-upload')[0].files[0];
				
				image_reader.read_image_data(imageFile, function(data){
					
					currentImageData = data;
					// var pt = crypto_util.decrypt(key, iv, ct.ciphertext);

					// testDisplayDOMElement.src = pt;
				});
			}

			/**
			 * Submits a request to post an image/blurb to the server.
			 */
			function submitPostRequest(){
				// Retrieve the password
				var password = $("#passphrase-entry").val();
				var stretched_password = crypto_util.stretch_password(password);
				var key = stretched_password.stretched;
				var keyword = stretched_password.verifier;

				// Retrieve random IV
				var iv = crypto_util.random_iv();

				// Construct the post object
				var postObject = { "image": currentImageData, "comment": $('#text-entry').val() };
				var postString = JSON.stringify(postObject);

				// Encrypt the post object
				var encryptedPostString = crypto_util.encrypt(key, iv, postString);
				// Construct the post request object
				var postRequest = { "keyword": keyword, "content": encryptedPostString.ciphertext, 
					"content-iv": encryptedPostString.iv, "content-hash": crypto_util.hash(postString) };

				$.ajax({
					type: "POST",
					url: "/new_post",
					data: postRequest,
					success: function(response){
						// Reload the page once a response is received.
						location.reload();
					}
				});
			}
		</script>
	</head>
	<body>
		ENTER A SEKRIT CODE:  <input type="text" id='passphrase-entry'>
		<br>
		UPLOAD AN IMAGE:  <input type="file" onchange="saveImageData()" id='image-upload'>
		<br>
		ENTER SOME TEXT:
		<br>
		<textarea id='text-entry' placeholder='WHAT DO YOU WANT TO SAY ABOUT IT?'></textarea>
		<button id='post-submit-button' onclick='submitPostRequest()'>Post</button>
	</body>
</html>