<html>
	<head>
		<title>Blacklist: git gud or git rekt</title>
		
		<!-- JQuery (from CDN) to make things easier on the front end. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<script src="/static/js/image_reader.js"></script> <!-- Image reading -->

		<script src="/static/js/lib/core-min.js"></script> <!-- CryptoJS core -->
		<script src="/static/js/lib/cipher-core-min.js"></script> <!-- CryptoJS core -->
		<script src="/static/js/lib/aes-min.js"></script> <!-- AES encryption -->
		<script src="/static/js/lib/enc-utf16-min.js"></script> <!-- UTF-16 encoding  -->
		<script src="/static/js/lib/enc-base64-min.js"></script> <!-- Base64 encoding -->
		<script src="/static/js/lib/pbkdf2-min.js"></script>
		<script src="/static/js/lib/sha256-min.js"></script>

		<script src="/static/js/crypto_util.js"></script> <!-- Simpler crypto api -->

		<script src="/static/js/index.js"></script>
		
      	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

    	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	</head>
	<body>

	<span id='header'>Blacklist Anonymous Search</span>
	<div id='cmd-entry'>
		<span>Enter a command></span>
		<input type='text' id="command-input" placeholder="[upload|search]"/>
		<span class='button' id='cmd-go' onclick="switchEntry()">Go</button>
	</div>

	<div id='upload-entry' style='display:none'>
		<br/>
		<input type='password' id="upload-passphrase-entry" placeholder="Enter a passphrase."/>
		<input type='text' id="upload-keyword-entry" placeholder="Enter a keyword."/>
		<br/><br/>
		<input type="file" onchange="saveImageData()" id='image-upload'>
		<br/>
		<textarea id='text-entry' placeholder='Enter a comment here...'></textarea>
		<span class='button' id='post-submit-button' onclick='uploadContent()'>Post</button>
	</div>
	<br/>
	<div id='search-entry'>
		<input type='password' id="search-passphrase-entry" placeholder="Enter a passphrase."/>
		<input type='text' id="text-keyword-entry" placeholder="Enter a keyword."/>
		<span class='button' id='post-submit-button' onclick='searchContent()'>Search</button>
		<br/>
		<br/>
		<div id='result-display'></div>
	</div>

	</body>
</html>